# All build folders and files
build/

# Binaries in code examples
examples/**/*.o
examples/**/*.exe
examples/**/*.out
examples/**/*.dll
examples/**/*.lib
examples/**/*.so

# Binaries in code tests
tests/**/*.o
tests/**/*.exe
tests/**/*.out
tests/**/*.dll
tests/**/*.lib
tests/**/*.so

# Downloaded proprietary files from the ITU website
**/itu-proprietary/*
**/itu_proprietary/*

# Crc-covlib results and coverage files produced when running examples and tests
examples/**/*.txt
examples/**/*.mif
examples/**/*.mid
examples/**/*.kml
examples/**/*.bil
examples/**/*.hdr
examples/**/*.prj
examples/**/*.csv
python-wrapper/examples/**/*.txt
python-wrapper/examples/**/*.mif
python-wrapper/examples/**/*.mid
python-wrapper/examples/**/*.kml
python-wrapper/examples/**/*.bil
python-wrapper/examples/**/*.hdr
python-wrapper/examples/**/*.prj
python-wrapper/examples/**/*.csv
python-wrapper/examples/**/*.geojson
python-wrapper/examples/**/*.tif
tests/**/*.txt
tests/**/*.mif
tests/**/*.mid
tests/**/*.kml
tests/**/*.bil
tests/**/*.hdr
tests/**/*.prj
tests/custom-profiles/*.csv
!requirements.txt

# Files that may be created when opening result files in a GIS app like QGIS
examples/**/*.stx
examples/**/*.aux.xml
python-wrapper/examples/**/*.stx
python-wrapper/examples/**/*.aux.xml
tests/**/*.stx
tests/**/*.aux.xml

# Python byte codes
__pycache__/
*.pyc

# Cache from using OSMnx
cache/

# Packaging related files
crc_covlib.egg-info/

# Linux binary for the python wrapper
python-wrapper/crc_covlib/bin_64bit/libcrc-covlib.so

# Index files generated by crc-covlib when reading GeoTIFF files
data/terrain-samples/**/crc_covlib_geotiff_index

# Visual Studio Code folders and files
.vscode/
